.Login {
  padding: 50px 20px;
  .innerWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    strong {
      margin-bottom: 20px;
    }
    .Button {
      margin-top: 20px;
    }
  }
  .inputWrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    .Input {
      margin: 5px 0;
    }
  }
  .error {
    color: red;
    margin: 5px 0;
  }
}
