.Account {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .nameWrapper {
    display: flex;
    margin: 30px 0;
    div {
      margin: 0 10px;
    }
  }
}
